# --- dbt ---
target/
dbt_packages/
dbt_modules/
logs/

# --- Data & Downloads ---
# Ignore all large data files by default
*.parquet
*.csv
*.csv.gz

# ...BUT explicitly allow your lookup files in the seeds folder
!seeds/*.csv

# --- Standard Python ---
__pycache__/
*.py[cod]
.venv/
venv/
env/
uv.lock

# --- Terraform ---
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
.terraform.lock.hcl
crash.log

# --- AWS & System ---
aws/
awscliv2.zip
.vscode/
*.code-workspace
.DS_Store

# --- Project Specific ---
ny_taxi_postgres_data/