# --- User Requested Ignores ---
*.parquet
.vscode/
*.code-workspace

# --- Standard Python Ignores ---
# Compiled python files (these appear automatically when you run code)
__pycache__/
*.py[cod]

# Virtual Environments (Large folders you never want in Git)
venv/
.venv/
env/

# database folder
ny_taxi_postgres_data/