# --- User Requested Ignores ---
*.parquet
.vscode/
*.code-workspace

# --- Standard Python Ignores ---
# Compiled python files (these appear automatically when you run code)
__pycache__/
*.py[cod]

# Virtual Environments (Large folders you never want in Git)
venv/
.venv/
env/

# database folder
ny_taxi_postgres_data/
uv.lock

# --- Terraform ---
# Ignore the hidden .terraform folder (plugins)
.terraform/
# Ignore state files (Contains secrets!)
*.tfstate
*.tfstate.*
# Ignore variables file if you ever create one with real secrets
*.tfvars
# Ignore crash logs
crash.log
override.tf
override.tf.json
.terraform.lock.hcl

# --- AWS Installation Junk ---
aws/
awscliv2.zip